// 全局css
#root {
    .ant-layout-sider {
        min-height: 100vh;

        .logo {
            height: 32px;
            background: rgba(255, 255, 255, 0.2);
            margin: 16px;
        }
    }
    // 博客个人信息页
    .editor-info{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}

