// 全局css
#root {
    .ant-layout-sider {
        min-height: 100vh;

        .logo {
            height: 32px;
            background: rgba(255, 255, 255, 0.2);
            margin: 16px;
        }
    }

    // 博客个人信息页
    .editor-info {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    // 博客文章添加/修改页
    .blog_article_grid {
        display: grid;
        grid-template-columns: 1fr 1fr 300px;
        grid-template-rows: 0.1fr 3fr 0.1fr 3fr 0.1fr;
        // 格子间距
        grid-gap: 20px;
        min-height: calc(100vh - 64px - 120px);

        // 描述占用的格子
        .desc {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 3;
            // max-height: calc(100vh - 427px);
        }

        // 文章内容占用的列
        .context {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 6;
            max-height: calc(100vh - 64px - 69px - 20px - 40px - 32px);
        }

        // 展示用的格子
        .showContext {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 6;
            border: 1px solid black;
            border-radius: 8px;
            padding: 8px;
            word-wrap: break-word;
            word-break: break-all;
            overflow: auto;
            max-height: calc(100vh - 64px - 69px - 20px - 40px - 32px);
        }

        textarea {
            height: 100%;
        }

        // 日期选项框撑满
        .date {
            .ant-calendar-picker {
                width: 100%;
            }
        }

        // 描述图片框
        .avatarFile {
            border: 1px solid gray;
            border-radius: 8px;

            .avatar-uploader {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                .ant-upload {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    // 博客分类
    .blog_article_group {
        .ant-table-thead>tr>th .ant-table-header-column {
            width: 100%;
        }
    }

    // 扩展链接
    .background_extend_link {
        .ant-table-thead>tr>th .ant-table-header-column {
            width: 100%;
        }
    }

    // 首页大屏（1080P）
    .home_grid {
        background-image: radial-gradient(rgba(0, 71, 175), rgba(6, 19, 47));
        min-height: calc(100vh - 64px - 62px - 40px);
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-rows: 8% 8% 1fr;
        // 格子间距
        grid-gap: 20px;
        // 文字
        color: #91ccff;
        font-size: 1.4rem;

        p {
            padding: 0;
            margin: 0;
        }

        &>div {
            background-image: radial-gradient(rgba(255, 255, 255, 0.041), rgba(16, 140, 255, 0.062));
            border: 4px transparent solid;
            border-image: linear-gradient(rgba(53, 81, 243, 0.479), rgba(162, 90, 255, 0.466)) 1 1;
        }

        .time,.toolbar{
            .flex-center();
        }

        // 占两行
        .computer_info {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 3;

            .flex-center();
            width: 100%;
            height: 100%;

            // 每个需要显示的元素
            &>div {
                height: 100%;
                .flex-center();
                justify-content: space-between;
                width: 30%;

                &>.num_title {
                    width: 50%;
                }

                &>.chart_title {
                    height: 100%;
                    width: 50%;
                }
            }
        }
    }

    // 数据卡
    .data_card {
        background: none;
        color: white;
        margin: 20px;
        font-size: 1.2rem;
        border: 4px transparent solid;
        border-image: linear-gradient(rgb(247, 1, 255), rgb(17, 0, 255)) 30 30;

        hr {
            margin: 0;
        }

        .title {
            background: rgba(255, 185, 145, 0.199);
            padding: 6px 0;
        }

        .data {
            background: rgba(37, 207, 250, 0.205);
            padding: 6px 0;
            font-size: 1.5rem;
        }

        .tip {
            padding: 8px 0;
        }
    }
}

.center {
    text-align: center;
}

// 全屏
.full_screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}